body {background: #111 none 0 0 no-repeat !important; margin:0; padding:0;}

body > .layout > #header {display: none;}
body > .layout > #footer {height: auto !important; min-height: 1em;}
body > .layout > #footer > #controls {height: 1em !important; padding-bottom: 0px !important;}
body > .layout > #footer > #controls > #controlForm > #navLinks > a#toggle {display: none;}
body > .layout > #controls {font-size: 1em !important; height: 1em !important; padding-bottom: 0px !important;}
body > .layout > #controls > #controlForm {font-size: .45em !important; line-height: .45em; height: 100%; padding: 0;}
body > .layout > #controls > #controlForm > #navLinks > a#toggle {display: none;}

body > .presentation > .slide {font-family: sans-serif; color: #eee !important; padding: 0 1em !important; width: calc(100vw - 2em); height: 100vh; overflow: auto;}
body > .presentation > .slide > * {font-size: 1.2em !important;}
body > .presentation > .slide > .toc-title {display: none;}
body > .presentation > .slide > h1, body > .presentation > .slide > h2 {position: static; margin-top: 0 !important; color: inherit !important;}
body > .presentation > .slide > h1 {font-size: 1.5em !important;}
body > .presentation > .slide > h2 {font-size: 1.35em !important;}
body > .presentation > .slide img {max-width: 100%;}
body > .presentation > .slide a {text-decoration: none; color: #13daec;}

/* incremental content */
body > .presentation > .slide .incremental {}
body > .presentation > .slide .incremental.seen {}
body > .presentation > .slide .current {color: inherit !important; font-weight: bold; font-size: 1.15em; line-height: 1.15em;}
body > .presentation > .slide .incremental.unseen {display: none !important;}

/* explicit height of footer */
body > .layout > #footer {height: 1em !important;}
body > .presentation > .slide {height: calc(100vh - 1em);}

body.f2x > .layout > #footer {height: 2em !important;}
body.f2x > .presentation > .slide {height: calc(100vh - 2em);}

body.f3x > .layout > #footer {height: 3em !important;}
body.f3x > .presentation > .slide {height: calc(100vh - 3em);}
