body {background: #111 none 0 0 no-repeat !important; font-size: 12px !important; margin:0; padding:0;}

/* base overrides */
body > .layout > #controls,
body > .layout > #currentSlide,
body > .layout > #header,
body > .layout > #footer,
body > .layout > #footer > #controls,
body > .presentation > .slide {font-size: 1em !important; padding-top: 0 !important; padding-bottom: 0 !important;}

body > .layout > #controls,
body > .layout > #currentSlide,
body > .layout > #header,
body > .layout > #footer,
body > .layout > #footer > #controls {height: 1em !important; min-height: 1em; line-height: 1em;}

body > .layout > #currentSlide > *,
body > .layout > #footer > *:not(#controls) {font-size: .5em !important;}

body > .layout > #header {display: none;}
body > .layout #controls > #controlForm {font-size: .45em !important; line-height: 1em; height: 100%; padding: 0 !important;}
body > .layout #controls > #controlForm > #navLinks > a {display: inline-block;}
body > .layout #controls > #controlForm > #navLinks > a#toggle {display: none;}
body > .layout #controls > #controlForm > #navLinks > #navList {margin-top: .1em;}

body > .presentation > .slide {font-family: sans-serif; color: #eee !important; padding: 0 1em !important; width: calc(100vw - 2em); height: calc(100vh - 1em); overflow: auto;}
body > .presentation > .slide > * {font-size: 1.2em !important;}
body > .presentation > .slide > .toc-title {display: none;}
body > .presentation > .slide > h1,
body > .presentation > .slide > h2 {position: static; margin-top: 0 !important; color: inherit !important;}
body > .presentation > .slide > h1 {font-size: 1.5em !important;}
body > .presentation > .slide > h2 {font-size: 1.35em !important;}
body > .presentation > .slide img {max-width: 100%;}
body > .presentation > .slide a {text-decoration: none; color: #13daec;}

/* explicit height of footer */
body > .layout > #footer {height: 1em !important;}
body > .layout > #currentSlide,
body > .layout #controls {bottom: 0 !important;} /* (1-1)/2 */
body > .presentation > .slide {height: calc(100vh - 1em);}

body.footer-x2 > .layout > #footer {height: 2em !important;}
body.footer-x2 > .layout > #currentSlide,
body.footer-x2 > .layout #controls {bottom: .5em !important;} /* (2-1)/2 */
body.footer-x2 > .presentation > .slide {height: calc(100vh - 2em);}

body.footer-x3 > .layout > #footer {height: 3em !important;}
body.footer-x3 > .layout > #currentSlide,
body.footer-x3 > .layout #controls {bottom: 1em !important;} /* (3-1)/2 */
body.footer-x3 > .presentation > .slide {height: calc(100vh - 3em);}

/* incremental content */
body > .presentation > .slide .incremental {}
body > .presentation > .slide .incremental.seen {}
body > .presentation > .slide .current {color: inherit !important; font-weight: bold; font-size: 1.15em; line-height: 1.15em;}
body > .presentation > .slide .incremental.unseen {display: none !important;}
